<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Contour Map</title>
    <link type="text/css" rel="stylesheet" href="css/contourmap.css"/>
	<script type="text/javascript" src="lib/d3.v3.js"></script>
	<script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/contourmap.js"></script>
    <script type="text/javascript" src="invoke-contourmap.js"></script>
  </head>
  <body>
    <div id="visdiv">
      <svg version="1.1" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
    </div>
    <center>
      <h2 id="yearlabel"></h2>
    </center>
  </body>
</html>
